<!DOCTYPE html>
<html>
<script src="http://lib.baomitu.com/socket.io/2.0.1/socket.io.js"></script>
<script>
    var socket = io('http://127.0.0.1:8363');
    socket.on('opend', function (data) {
        console.log('opend:', data);
    });

    socket.on('joined', function (data) {
        console.log('joined:', data);
    });
    socket.emit('addUser', "username");
    // socket.on('connect', (data) => {
    //     console.log('connect...', data)
    //     socket.emit('addUser', "username");
    // })
</script>

</html>